/* navbar.css */
.search-input {
    margin-left: auto;
    padding: 5px;
    font-size: 17px;
    border: none;
}

.search-button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background: #ccc;
}